Setting multiple contents. 

#### Issue Summary

Not able to set multiple contents.  

#### Steps to Reproduce
```
	m := mail.NewV3Mail()
	from := mail.NewEmail("Notification", "no-reply@example.io")
	content := mail.NewContent("text/html", "I'm replacing the <strong>body tag</strong>")
	content1 := mail.NewContent("text/html", "I'm replacing the <strong>body tag</strong>")

	m.SetFrom(from)
	m.AddContent(content, content1)
```

error 

```
11:27 $ go run main.go
400
{"errors":[{"message":"Following RFC 1341, section 7.2, if either text/html or text/plain are to be sent in
your email: text/plain needs to be first, followed by text/html, followed by any other content.","field":"co
ntent","help":null}]} 
```

it is working with one content. 

```
	m := mail.NewV3Mail()
	from := mail.NewEmail("Notification", "no-reply@example.io")
	content := mail.NewContent("text/html", "I'm replacing the <strong>body tag</strong>")

	m.SetFrom(from)
	m.AddContent(content)
```

#### Technical details:

* sendgrid-go Version: master (latest commit: [588320a])
* Go Version: 1.10


Hello @superwhykz,

Thank you for taking the time to report this. It should work as described above; while we investigate, could you please try adding the Content, separately, [like this](https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L95)? 

Thanks!

With Best Regards,

Elmer

Hi @thinkingserious,

I get the same result.

```
    content := mail.NewContent("text/html", "I'm replacing the <strong>body tag</strong>")
    m.AddContent(content)

    content = mail.NewContent("text/html", "I'm replacing the <strong>body tag</strong>")
    m.AddContent(content)
```

error:

```
22:48 $ go run main.go
400
{"errors":[{"message":"Following RFC 1341, section 7.2, if either text/html or text/plain are to be sent in
your email: text/plain needs to be first, followed by text/html, followed by any other content.","field":"co
ntent","help":null}]}
```

Thanks,
Askar




Hello @superwhykz,

I'm not quite sure what you are trying to do here. Why are you adding duplicate content to the same message? Generally, you should only be adding one text/html content per message. We do recommend you also include text/plain content.

With Best Regards,

Elmer

Hi @thinkingserious,

Those duplicates were just examples.    I am new to Sendgrid so I do not have a full understanding yet.

Basically, I am trying to use transactional templates.   So I thought I can combine multiple contents per method(`AddContent func(c ...*Content) *SGMailV3`) before I embed(<%body%>) into a template.  From your last reply, it seems it is not the case. 

Thanks,
Askar


Hello @superwhykz,

You can add duplicate contents, but not of the same mime type. The most common pairing is text/html and text/plain, [like so](https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L95).

Thanks!

With Best Regards,

Elmer

@thinkingserious  thanks so much! I am closing this issue. 

@thinkingserious: It would be nice if the rule was communicated with developers though method design/architecture. How about something like this:

```
mail.SetContent(textContent, htmlContent); //or:
mail.SetContent(textContent); //or
mail.SetContent(htmlContent);
```
